<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Creacion de Integrante</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="form_creacion_integrant" action="{% url 'church:create_integrant' %}" method="POST">
            {% csrf_token %}
            <div class="modal-body">
                <div id="errores">
                </div>
                {{ form.start_date.label }}
                {{ form.start_date }}
                {{ form.rank.label }}
                {{ form.rank }}
                <label for="">Persona</label>
                {{ form.person }}
                {{ form.church_group.label }}
                {{ form.church_group }}
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" data-bs-dismiss="modal">Cancelar</button>
                <button id="boton_creacion" class="btn btn-primary" type="button" onclick="registrar_integrant();" >Confirmar</button>
            </div>
        </form>
      </div>
    </div>
  </div>