<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Creacion de Grupo Parroquial</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="form_creacion_group" action="{% url 'church:create_church_group' %}" method="POST">
            {% csrf_token %}
            <div class="modal-body">
                <div id="errores">
                </div>
                <div class="mb-3">
                    {{ form.church.label }}
                    {{ form.church }}
                </div>
                <div class="mb-3">
                    {{ form.name_church_group.label }}
                    {{ form.name_church_group }}
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" data-bs-dismiss="modal">Cancelar</button>
                <button id="boton_creacion" class="btn btn-primary" type="button" onclick="registrar_group();">Confirmar</button>
            </div>
        </form>
      </div>
    </div>
  </div>