{% extends 'homes/list_home.html' %}
{% load static %}

{% block title %}Crear Iglesia{% endblock title %}

{% block page_title %}Crear Iglesia{% endblock page_title %}

{% block form_ubicacion %}
<div class="container bg-white rounded mb-4 pb-3">
    <div class="row border-bottom justify-content-around">
        <h1 class="fs-3 mt-3 mx-5">Ubicación</h1>
        <div class="row mb-3">
            <div class="col-5 my-3">
                <label for="estado">Estado</label>
                {{ form_ubication.state }}
            </div>
            <div class="col-5 my-3">
                <label for="municipio">Municipio</label>
                {{ form_ubication.municipality }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-5 my-3">
                <label for="parroquia">Parroquia</label>
                {{ form_ubication.parish }}
            </div>
        </div>

        {% block barra_busqueda %}
        {% endblock barra_busqueda %}
    </div>
    {% endblock form_ubicacion %}

{% block content %}
<h1 class="fs-3 mt-3 mx-5 align-item-center">Datos de la Iglesia</h1>
<form method="post">
    <div class="row">
        <div class="col-5 mb-3">
            {{ form.name_church.label }}
            {{ form.name_church }}
            {{ form.direction.label }}
            {{ form.direction }}
        </div>
        <div class="col-5 mb-3">
                <label for="home">Sectores Atendidos por la Iglesia</label>
            {{ form.sector }}
                <p>Mantenga presionada la tacla Control(Ctrl) mientras selecciona</p>
            </div>
        </div>
        <div class="row justify-content-end">
            <button type="submit" class="btn btn-primary col-1">Crear</button>
        </div>
    </form>
    
{% endblock content %}



{% block scripts %}
<script src="{% static 'js/church.js' %}"></script>
{% endblock scripts %}