{% extends 'homes/list_home.html' %}
{% load static %}

{% block title %}Listar Iglesia{% endblock title %}

{% block page_title %}Listar Iglesia{% endblock page_title %}

{% block form_ubicacion %}
<div class="container bg-white rounded mb-4 pb-3">
    <div class="row border-bottom justify-content-around">
        <h1 class="fs-3 mt-3 mx-5">Ubicación</h1>
        <div class="row mb-3">
            <div class="col-5 my-3">
                <label for="parroquia">Parroquia</label>
                {{ form_ubication.parish }}
            </div>
        </div>

        {% block barra_busqueda %}
        {% endblock barra_busqueda %}
    </div>
    {% endblock form_ubicacion %}

{% block content %}
<table class="table table-secondary table-striped mt-3 border rounded">
    <thead class="table-primary">
        <tr>
            <th scope="col">
                Nombre de la Iglesia
            </th>
            <th scope="col">
                Direccion de la Iglesia
            </th>
            <th scope="col" class="text-center">
                Opciones
            </th>
        </tr>
    </thead>
    <tbody id="table">
    </tbody>
</table>
<div class="row justify-content-end">
    <a href="{% url 'church:create_church' %}" class="col-2">
        <button class="btn btn-primary">
            Crear Iglesia
        </button>
    </a>
</div>
</div>
<div class="modal fade" id="creacion_group" role="dialog"></div>
{% endblock content %}




{% block scripts %}
<script src="{% static 'js/church.js' %}"></script>
{% endblock scripts %}