{% extends 'homes/create_home.html' %}

{% block title %}Lista de Parrocos{% endblock title %}

{% block page_title %}Lista de Parrocos{% endblock page_title %}


{% block content %}
<div class="border rounded my-3">
    <table class="table table-secondary table-striped">
        <thead class="table-primary">
            <tr>
                <th scope="col">
                    Cedula
                </th>
                <th scope="col">
                    Nombre
                </th>
                <th scope="col">
                    Apellido
                </th>
                <th scope="col">
                    Status
                </th>
                <th scope="col">
                    Fecha
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>21848445</th>
                <td>Pedro</td>
                <td>Zapata</td>
                <td>Activo</td>
                <td>24-02-2021</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row justify-content-end">
    <button class="btn btn-primary col-1">Agregar</button>
</div>
{% endblock content %}
    