.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;

}
.navbar{
    width: 250px;
    height: 100vh;
    position: fixed;
    /*margin-left: -300px;*/
}
.nav-link{
    font-size: 1.25rem;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover{
    background-color: rgba(240, 171, 96, 0.5);
}
section{
    height: 75px;
}
div > i {
    color: #BD6C13;
}

