<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel"><i class="fas fa-cart-plus"></i> Delegar Suministros</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <label for="">Parroquia</label>
          {{form_group.parish}}
          <label for="">Iglesia</label>
          {{form_group.church}}
        <form class="border-top mt-3" action="{% url 'supplies:delegate_supplies' %}" method="post" id="form_delegate">{% csrf_token %}
            <label for="">Grupo Parroquial</label>
            <div class="mb-3 input-group">
              {{ form.group }}
          </div>
            {{form.lote.label}}
            {{form.lote}}
            {{form.stock.label}}<p id="maximo"></p>
            {{form.stock}}
            {{form.total.label}}
            {{form.total}}
            <div class="modal-footer">
                <button class="btn btn-success" type="button" onclick="cerrar_modal_delegate_supplie();">Cancelar</button>
                <button id="boton_creacion" class="btn btn-danger" type="button" onclick="delegate_supplie();">Confirmar</button>
            </div>
        </form>
      </div>
    </div>
  </div>
  <script>load_lote();</script>