<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            Cerrado de {{ object }}
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center" >{% csrf_token %}
            <h3><strong>¿Desea Cerrar {{ object }} ?</strong></h3>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-align="right"
                onclick="eliminar();"><strong>CONFIRMAR CERRADO</strong></button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal"><strong>CANCELAR</strong></button>
        </div>
    </div>
</div>