<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel"><i class="fas fa-cart-plus"></i> Entregar Suministros</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="border-top mt-3" action="{% url 'supplies:delivery_supplies' %}" method="post" id="form_delivery">{% csrf_token %}
            {{form.data_weighing.label}}
            {{form.data_weighing}}
            {{form.nursery.label}}
            {{form.nursery}}
            <label for="">Suministros</label>
            {{form.supplies_church}}
            {{form.stock.label}}
            {{form.stock}}
            <div class="modal-footer">
                <button class="btn btn-success" type="button" onclick="cerrar_modal_delivery_supplie();">Cancelar</button>
                <button id="boton_creacion" class="btn btn-danger" type="button" onclick="delivery_supplie();">Confirmar</button>
            </div>
        </form>
      </div>
    </div>
  </div>