{% extends 'childs/list_childs.html' %}
{% load static %}

{% block title %}Distribucion de Insumos{% endblock title %}

{% block page_title %}Distribucion de Insumos{% endblock page_title %}

{% block form_ubicacion %}
<div class="container bg-white rounded mb-4 pb-3">
    <div class="row border-bottom justify-content-around">
        <h1 class="fs-3 mt-3 mx-5">Ubicación</h1>
        <div class="row mb-3">
            <div class="col-5 my-3">
                <label for="parroquia">Parroquia</label>
                {{ form_ubication.parish }}
            </div>
            <div class="col-5 my-3">
                <label for="parroquia">Iglesia</label>
                {{ form_ubication.church }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-5 my-3">
                <label for="">Grupo Parroquial</label>
                {{ form_nursery.church_group }}
            </div>
            <div class="col-5 my-3">
                <label for="">Vivero</label>
                {{ form_nursery.nursery }}
            </div>
        </div>
        
        {% block barra_busqueda %}
        {% endblock barra_busqueda %}
    </div>
    {% endblock form_ubicacion %}

{% block content %}
    
<table class="table table-secondary table-striped mt-3 border rounded">
    <thead class="table-primary">
        <tr>
            <th scope="col">
                Representante
            </th>
            <th scope="col">
                Niño
            </th>
            <th scope="col">
                Z-Score
            </th>
            <th scope="col">
                Entregas Faltantes
            </th>
            <th scope="col" class="text-center">
                Opciones
            </th>
        </tr>
    </thead>
    <tbody id="table">
    </tbody>
</table>
<div class="modal fade" id="delivery_supplie" role="dialog"></div>

{% endblock content %}

{% block scripts %}
    <script src="{% static 'js/distribute.js' %}"></script>
{% endblock scripts %}