{% extends "navbar.html" %}
{% load static %}

{% block title %}Gestion de Viveros{% endblock title %}

{% block page_title %}Gestion de Viveros{% endblock page_title %}


{% block form_ubicacion %}
    
{% endblock form_ubicacion %}
    

{% block content %}
<div class="container bg-white rounded mb-4 pb-3">
    <div class="row border-bottom justify-content-around">
        <div class="col-10">
            <h1 class="text-center">{{nursery}}</h1>
            <p class="text-center">Se realizo un Se realizó un operativo de despiste el día {{ nursery.start_date }} 
                para captar los niños que entrarán al Vivero hasta el {{nursery.end_date}} ( el vivero dura {{duration}} Semanas aproximadamente)</p>
            </div>
    </div>
    <div class="row border-bottom justify-content-around">
        <div class="col-6">
            <h5>Se procesaron {{total}} Niños y N Mujeres embarazadas</h5>
        </div>
    </div>
    <div class="row border-bottom justify-content-around">
        <div class="col-6">
            <h6 class="text-center">Los {{total}} niños estan distribuidos de la siguiente manera:</h6>
            <p class="text-center">
                {{ childs}} Son Niños 
            </p>
            <p class="text-center">
                {{ lactantes}} Son Lactantes
            </p>
            <p class="text-center">
                {{ childs }} Niños = {{ childsM }} Niños y {{ childsF }} Niñas 
            </p>
            <p class="text-center">
                {{ lactantes }} Lactantes = {{ lactantesM }} Niños y {{ lactantesF }} Niñas 
            </p>
            <p class="text-center">
                De los {{ total }} Niños {{ adults }} Son mayores de 5 años
            </p>
        </div>
    </div>
    <div class="row border-bottom justify-content-around">
        <h4 class="text-center">El Resultado es el Siguiente</h4>
        <div class="col-3 bg-dark">
            <h5 class="text-center text-white">Valor Nutricional</h5>
            <p class="text-center text-white">0 = {{ z_score_0 }} Niños <strong>(No Entran)</strong></p>
            <p class="text-center text-warning">-1 = {{ z_score_1 }} Niños <strong>(Entran)</strong></p>
            <p class="text-center text-orange">-2 = {{ z_score_2 }} Niños <strong>(Entran)</strong></p>
            <p class="text-center text-danger">-3 = {{ z_score_3 }} Niños <strong>(Entran)</strong></p>
        </div>
        <div class="col-3">
            <h5 class="text-center">Niños fuera del vivero</h5>
            <p class="text-center">
                {{data_rejected}}
            </p>
            <h5 class="text-center">Niños que entan al vivero</h5>
            <p class="text-center">
                {{data_accepted}}
            </p>
        </div>
        <div class="col-3 bg-dark">
            <h5 class="text-center text-white">Plumpys necesarios para suplir el vivero:</h5>
            <p class="text-center text-warning">-1 = {{ pumply_1 }} Pumplys ({{ box_1 }}) Cajas</p>
            <p class="text-center text-orange">-2 = {{ pumply_2 }} Pumplys ({{ box_2 }}) Cajas</p>
            <p class="text-center text-danger">-3 = {{ pumply_3 }} Pumplys ({{ box_3 }}) Cajas</p>
        </div>
    </div>
</div>

{% endblock content %}
    

{% block scripts %}
    
{% endblock scripts %}
    