{% extends 'homes/create_home.html' %}
{% load static %}

{% block title %}Lista de Insumos{% endblock title %}

{% block page_title %}Lista de Insumos{% endblock page_title %}


{% block form_ubicacion %}
    
{% endblock form_ubicacion %}
    
{% block content %}
<div class="border rounded my-3">
    <table class="table table-secondary table-striped">
        <thead class="table-primary">
            <tr>
                <th scope="col">
                    Numero Lote
                </th>
                <th scope="col">
                    Tipo Insumo
                </th>
                <th scope="col">
                    Categoria
                </th>
                <th scope="col">
                    Fecha de Vencimiento
                </th>
                <th scope="col">
                    Cajas Disponibles
                </th>
                <th scope="col">
                    Total Unidades
                </th>
                <th scope="col">
                    Opciones
                </th>
            </tr>
        </thead>
        <tbody>
            {% for i in object_list %}
            <tr>
                <th>{{i.lote_number}}</th>
                <td>{{i.data_supplie.type_supplie}}</td>
                <td>{{i.data_supplie.category}}</td>
                <td>{{i.date_exp}}</td>
                <td>{{i.stock}}</td>
                <td>{{i.total}}</td>
                <td>
                    <button class="btn btn-primary" type="button" onclick="abrir_modal_delegate_supplie(`{% url 'supplies:delegate_supplies' %}`,'{{i.lote_number}}',{{i.stock}});">
                        Delegar Insumos
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="row justify-content-end">
    <button class="btn btn-primary col-1 mx-5" onclick="abrir_modal_creacion_supplie(`{% url 'supplies:create_supplie' %}`);">Crear Insumo</button>

    <button class="btn btn-primary col-1 mx-5" onclick="abrir_modal_creacion_lote(`{% url 'supplies:create_lote' %}`);">Agregar Insumo</button>
</div>
<div class="modal fade" id="creacion_supplie" role="dialog"></div>

<div class="modal fade" id="creacion_lote" role="dialog"></div>

<div class="modal fade" id="list_church_group" role="dialog"></div>

<div class="modal fade" id="delegate_supplie" role="dialog"></div>


{% endblock content %}

    
{% block scripts %}
<script src="{% static 'js/supplies.js' %}"></script>
{% endblock scripts %}