{% extends 'homes/list_home.html' %}
{% load static %}

{% block title %}Gestion de Viveros{% endblock title %}

{% block page_title %}Gestion de Viveros{% endblock page_title %}

{% block form_ubicacion %}
<div class="container bg-white rounded mb-4 pb-3">
    <div class="row border-bottom justify-content-around">
        <h1 class="fs-3 mt-3 mx-5">Ubicación</h1>
        <div class="row mb-3">
            <div class="col-5 my-3">
                <label for="parroquia">Parroquia</label>
                {{ form_ubication.parish }}
            </div>
            <div class="col-5 my-3">
                <label >Iglesia</label>
                {{ form_church.church }}
            </div>
            <div class="col-5 my-3">
                <label for="municipio">Grupo Parroquial</label>
                {{ form_church.church_group }}
            </div>
        </div>
        {% block barra_busqueda %}
        {% endblock barra_busqueda %}
    </div>
    {% endblock form_ubicacion %}

{% block content %}
<table class="table table-secondary table-striped mt-3 border rounded">
    <thead class="table-primary">
        <tr>
            <th scope="col">
                Nombre del Vivero
            </th>
            <th scope="col">
                Fecha Inicio
            </th>
            <th scope="col">
                Fecha Final
            </th>
            <th scope="col">
                Integrantes
            </th>
            <th scope="col">
                Estado
            </th>
            <th scope="col" class="text-center">
                Opciones
            </th>
        </tr>
    </thead>
    <tbody id="table">
    </tbody>
</table>
</div>

<div class="modal fade" id="creacion_nursery" role="dialog"></div>
<div class="modal fade" id="eliminacion_nursery" role="dialog"></div>
{% endblock content %}


{% block scripts %}
    <script src="{% static 'js/church_group.js' %}"></script>
{% endblock scripts %}
    
