{% extends 'navbar.html' %}
{% load static %}

{% block form_ubicacion %}
{% endblock form_ubicacion %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="card col-2 text-center rounded bg-secondary m-auto">
            <div class="bg-white m-auto mt-3 py-2 px-3 rounded">
                <i class="mt-2 fas fa-child fa-2x"></i>
            </div>
            <div class="card-body">
                <h5 class="card-title fs-6">Niños Atendidos</h5>
                <p class="card-text">{{childs}}</p>
            </div>
        </div>
        <div class="card col-2 text-center rounded bg-secondary m-auto">
            <div class="bg-white m-auto mt-3 py-2 px-3 rounded">
                <i class="mt-2 fas fa-clipboard-list fa-2x"></i>
            </div>
            <div class="card-body">
                <h5 class="card-title fs-6">Censos Realizados</h5>
                <p class="card-text">{{nursery}}</p>
            </div>
        </div>
        <div class="card col-2 text-center rounded bg-secondary m-auto">
            <div class="bg-white m-auto mt-3 p-2 rounded">
                <i class="mt-2 fas fa-users fa-2x"></i>
            </div>
            <div class="card-body">
                <h5 class="card-title fs-6">Voluntarios en Servicio</h5>
                <p class="card-text">{{voluntary}}</p>
            </div>
        </div>
        <div class="card col-2 text-center rounded bg-secondary m-auto">
            <div class="bg-white m-auto mt-3 p-2 rounded">
                <i class="mt-2 fas fa-city fa-2x"></i>
            </div>
            <div class="card-body">
                <h5 class="card-title fs-6">Comunidades Atendidas</h5>
                <p class="card-text">{{community}}</p>
            </div>
        </div>
    </div>
    <div class="row mt-5 bg-white rounded">
        <canvas id="speedChart" width="600" height="300"></canvas>
    </div>
</div>
{% endblock content %}
