{% extends 'navbar.html' %}
{% load static %}

{% block title %}
Inicio de Sesion
{% endblock title %}
{% block Navbar %}
{% endblock Navbar %}


{% block content %}
    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="row justify-content-center mt-5">
                <div class="col-4">
                    <div class="display-5 text-center"><img src='{% static "img/StickyHeaderLogo.png" %}' alt="Logo"></div>
                    <div class="row mt-3">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-group text-center">
                                <!--{% if form.error_messages %}
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <button type="button" class="close" data-bs-dismiss = "alert" aria-label = "Close">
                                            <span aria-hidden = "true">&times;</span>
                                        </button>
                                        <strong>Advertencia: </strong> {{ form.get_invalid_login_error }}
                                    </div>
                                    {% endif %}-->
                                    <label>Nombre de usuario</label>
                                    {{ form.username }}
                                </div>
                                <div class="form-group text-center">
                                    <label>Contraseña</label>
                                {{ form.password }}
                            </div>
                            <div class="row mt-4 text-center">
                                <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">Iniciar Sesión</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}