{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="shortcut icon" href="{% static 'img/Favicon-16x16.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    {% block links %}
    {% endblock links %}
    <title>
        {% block title %}
        Inicio
        {% endblock title %}
        | SAMAN
    </title>
</head>

<body>
    {% block Navbar %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 border border-dark d-flex p-0 m-0">
                <nav class="nav navbar navbar-expand d-flex flex-column align-item-start col collapse" id="sidebar">
                    <a href="{% url 'home' %}" class="navbar-brand">
                        <div class="display-5"><img src='{% static "img/StickyHeaderLogo.png" %}' alt="Logo"></div>
                    </a>
                    <div class="navbar-nav d-felx flex-column w-100">
                        <li class="nav-item w-100">
                            <a href="{% url 'home' %}" class="nav-link text-dark"><i
                                    class="fas fa-home pe-3"></i>Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link text-dark"><i class="fas fa-cogs pe-3 ps-1"></i></i>Administrar</a>
                        </li>
                        <li class="nav-item w-100">
                            <a href="{% url 'homes:list_community' %}" class="nav-link text-dark ps-5" >Comunidades</a>
                        </li>
                        <li class="nav-item w-100">
                            <a href="{% url 'homes:list_sector' %}#" class="nav-link text-dark ps-5">Sectores</a>
                        </li>
                        <li class="nav-item w-100">
                            <a href="#" class="nav-link text-dark"><i class="fas fa-clipboard-list pe-3 ps-1"></i>Datos
                                Viviendas</a>
                        </li>
                        <li class="nav-item w-100">
                            <a href="{% url 'homes:create_home' %}" class="nav-link text-dark ps-5">Crear Vivienda</a>
                        </li>
                        <li class="nav-item w-100">
                            <a href="{% url 'homes:list_home' %}" class="nav-link text-dark ps-5">Listar Viviendas</a>
                        </li>
                        <li class="nav-item w-100">
                            <a href="#" class="nav-link text-dark"><i class="fas fa-male pe-3 ps-1"></i>Datos Representante</a>
                        </li>
                        <li class="nav-item w-100">
                            <a href="{% url 'childs:create_chief_home' %}" class="nav-link text-dark ps-5">Registrar Representante</a>
                        </li>
                        <li class="nav-item w-100">
                            <a href="#" class="nav-link text-dark"><i class="fas fa-child pe-3 ps-1"></i>Datos Niños</a>
                        </li>
                        <li class="nav-item w-100">
                            <a href="{% url 'childs:initial_diagnostic' %}" class="nav-link text-dark ps-5">Diagnostico Inicial Niño</a>
                        </li>
                        <li class="nav-item w-100">
                            <a href="{% url 'childs:initial_diagnostic_embarazada' %}" class="nav-link text-dark ps-5">Diagnostico Inicial Embarazada</a>
                        </li>
                        <li class="nav-item w-100">
                            <a href="{% url 'childs:care_dates' %}" class="nav-link text-dark ps-5">Cuidados del niño</a>
                        </li>
                        <li class="nav-item w-100">
                            <a href="{% url 'childs:list_monitoring' %}" class="nav-link text-dark ps-5">Monitoreo</a>
                        </li>
                        <li class="nav-item w-100">
                            <a href="{% url 'childs:list_childs' %}" class="nav-link text-dark ps-5">Listar Niños</a>
                        </li>
                        <li class="nav-item w-100">
                            <a href="#" class="nav-link text-dark"><i
                                    class="fas fa-prescription-bottle pe-3 ps-1"></i>Insumos</a>
                        </li>
                        <li class="nav-item w-100">
                            <a href="{% url 'supplies:list_nursery' %}" class="nav-link text-dark ps-5">Gestionar Viveros</a>
                        </li>
                        <li class="nav-item w-100">
                            <a href="{% url 'supplies:list_supplies' %}" class="nav-link text-dark ps-5">Listar Insumos</a>
                        </li>
                        <li class="nav-item w-100">
                            <a href="{% url 'supplies:distribute_supplies' %}" class="nav-link text-dark ps-5">Repartir Insumos</a>
                        </li>
                        <li class="nav-item w-100">
                            <a href="#" class="nav-link text-dark"><i class="fas fa-church pe-2"></i>Iglesias</a>
                        </li>
                        <li class="nav-item w-100">
                            <a href="{% url 'church:list_church' %}" class="nav-link text-dark ps-5">Listar Iglesias</a>
                        </li>
                        <li class="nav-item w-100">
                            <a href="{% url 'church:list_church_group' %}" class="nav-link text-dark ps-5">Grupos Parroquiales</a>
                        </li>
                    </div>
                </nav>
            </div>
            <div class="col-10 bg-light">

                <section class=" d-flex flex-row">
                    <button class="p-2 btn btn-outline-primary my-3 pt-1 btn-labeled" id="menu-btn">
                        <span class="btn-label">
                            <i class="fas fa-bars fa-2x"></i>
                        </span>
                    </button>
                    <p class="fs-3 p-2  pt-4 w-100">{% block page_title %}Inicio{% endblock page_title %}</p>

                    <button class="p-2 btn btn-outline-primary my-3 pt-1 mx-5 btn-labeled">
                        <span class="btn-label">
                            <i class="fas fa-bell fa-2x"></i>
                        </span>
                    </button>
                    <p class="p-2 py-0 fs-3 align-text-bottom">{{ user.username|capfirst }}
                        {%if user.is_superuser %}
                        <small class="fw-light fs-6 pt-0 align-top">
                            Admin
                        </small>
                        {% elif  user.is_staff %}
                        <small class="fw-light fs-6 pt-0 align-top">
                            Voluntario
                        </small>
                        {% endif %}
                    </p>
                    <div class="dropdown">
                        <button class="btn btn-outline-primary rounded-circle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-user-circle fa-3x"></i>
                        </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar Sesion</a></li>
                       
                    </ul>
                </div>

                </section>
                {% endblock Navbar %}

                {% block form_ubicacion %}
                {% endblock form_ubicacion %}

                
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>
</body>


<!-- bootstrap js -->
<script language="JavaScript" type="text/javascript" src="{% static '/js/jquery-3.6.0.min.js' %}"></script>
<script language="JavaScript" type="text/javascript" src="{% static 'js/sweetalert2.all.min.js' %}"></script>
<script language="JavaScript" type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{% block scripts %}
<script language="JavaScript" type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
<script language="JavaScript" type="text/javascript" src="{% static 'js/main.js' %}"></script>
{% endblock scripts %}


</html>