<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Registrar Sector</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="form_creacion" action="{% url 'homes:create_sector' %}" method="POST">
            {% csrf_token %}
            <div class="modal-body">
                <div id="errores">
                </div>
                {{ form.id_community.label }}
                {{ form.id_community }}
                {{ form.name_sector.label }}
                {{ form.name_sector }}

            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" data-bs-dismiss="modal">Cancelar</button>
                <button id="boton_creacion" class="btn btn-primary" type="button" onclick="registrar_sector();">Confirmar</button>
            </div>
        </form>
      </div>
    </div>
  </div>

  <script>load_community();</script>