{% extends "index.html" %}

{% block content %}
<div class="row justify-content-around">
    <div class="col-8 col-5 my-3">
        <form method="post">{% csrf_token %}
            <p>Esta seguro que desea eliminar {{ object }}</p>
            <button type="submit" class="btn btn-danger" data-align="right"
                ><strong>CONFIRMAR ELIMINACIÓN</strong></button>
                <a href="{% url 'homes:list_home' %}">
                    <button type="button" class="btn btn-primary"><strong>CANCELAR</strong></button>
                </a>
        </form>
    </div>
</div>

{% endblock content %}