<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel"><i class="fas fa-trash"></i> Eliminar {{object}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" id="form_delete">{% csrf_token %}
            <p>Esta seguro que desea eliminar {{ object }}</p>
            <div class="modal-footer">
                <button class="btn btn-success" type="button" data-bs-dismiss="modal">Cancelar</button>
                <button id="boton_creacion" class="btn btn-danger" type="button" onclick='delete_community({{ object.pk }});'>Confirmar</button>
            </div>
        </form>
      </div>
    </div>
  </div>