{% extends 'homes/create_home.html' %}

{% block title %}Editar Vivienda{% endblock title %}

{% block page_title %}Editar Vivienda{% endblock page_title %}

{% block form_ubicacion %}
<div class="container bg-white rounded mb-4 pb-3">
    <div class="row border-bottom justify-content-around">
        <h1 class="fs-3 mt-3 mx-5">Ubicación</h1>
        <div class="row mb-3">
            <form action="" method="POST">{% csrf_token %}
            <div class="col-5 my-3">
                {{ form.id_sector.label }}
                {{ form.id_sector }}
            </div>
        </div>
        
        {% block barra_busqueda %}
        {% endblock barra_busqueda %}
    </div>
    {% endblock form_ubicacion %}
    {% block content %}
        <div class="row border-bottom justify-content-around">
            <h1 class="fs-3 mt-3">Datos Vivienda</h1>
            <div class="col-8 col-5 my-3">
                {{ form.direction.label }}
                {{ form.direction }}
            </div>
            <div class="row mb-3">
                <div class="col-5 my-3">
                    {{ form.type_floor.label }}
                    {{ form.type_floor }}
                </div>
                <div class="col-5 my-3">
                    {{ form.status_floor.label }}
                    {{ form.status_floor }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-5 my-3">
                    {{ form.type_wall.label }}
                    {{ form.type_wall }}
                </div>
                <div class="col-5 my-3">
                    {{ form.status_wall.label }}
                    {{ form.status_wall }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-5 my-3">
                    {{ form.type_roof.label }}
                    {{ form.type_roof}}
                </div>
                <div class="col-5 my-3">
                    {{ form.status_roof.label }}
                    {{ form.status_roof }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-5 my-3">
                    {{ form.white_water.label }}
                    {{ form.white_water }}
                </div>
                <div class="col-5 my-3">
                    {{ form.status_white_water.label }}
                    {{ form.status_white_water }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-5 my-3">
                    {{ form.wastewater.label }}
                    {{ form.wastewater }}
                </div>
                <div class="col-5 my-3">
                    {{ form.status_wastewater.label }}
                    {{ form.status_wastewater }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-5 my-3">
                    {{ form.n_rooms.label }}
                    {{ form.n_rooms }}
                </div>
                <div class="col-5 my-3">
                    {{ form.status_rooms.label }}
                    {{ form.status_rooms }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-5 my-3 form-check">
                    {{ form.n_bath.label }}
                    {{ form.n_bath }}
                </div>
                <div class="col-5 my-3">
                    {{ form.have_bath.label }}
                    {{ form.have_bath }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-5 my-3">
                    {{ form.kitchen.label }}
                    {{ form.kitchen }}
                </div>
                <div class="col-5 my-3">
                    {{ form.state_kitchen.label }}
                    {{ form.state_kitchen }}
                </div>
            </div>
            <div class="row justify-content-end">
                <button type="submit" class="btn btn-primary m-1 col-1">Enviar</button>
            </div>
        </div>
    </form>
</div>
{% endblock content %}