{% extends 'navbar.html' %}
{% load static %}

{% block title %}Listar Sector{% endblock title %}

{% block page_title %}Listar Sector{% endblock page_title %}

{% block form_ubicacion %}
<div class="container bg-white rounded mb-4 pb-3">
    <div class="invisible" id="alert">
        <div class="alert alert-success position-absolute col-6 justify-content-between d-flex" role="alert">
            <i class="fas fa-check-circle fa-2x alert-link"></i>
            <p id="msg"></p>
            <button type="button" class="btn btn-success col-1 " data-bs-dismiss="alert" aria-label="Close">Ok</button>
        </div>
    </div>    
    <div class="invisible" id="alert-danger">
        <div class="alert alert-danger position-absolute col-6 justify-content-between d-flex" role="alert">
            <i class="fas fa-times-circle fa-2x alert-link"></i>
            <p id="msg">No existen sectores resgistrados en esta comunidad</p>
            <button type="button" class="btn btn-danger col-1 " data-bs-dismiss="alert" aria-label="Close">Ok</button>
        </div>
    </div>
    <div class="row border-bottom justify-content-around">
        <h1 class="fs-3 mt-3 mx-5">Ubicación</h1>
            <div class="col-8 my-3">
                <label for="parroquia">Parroquia</label>
                {{ form_ubication.parish }}
                <label for="comunidad">Comunidad</label>
                {{ form_ubication.community}}
            </div>
        </div>
        {% endblock form_ubicacion %}
        
        
        {% block content %}
        <div class="row border-bottom justify-content-around">
            <div class="col-8">
                <table class="table table-secondary table-striped mt-3 border rounded">
                    <thead class="table-primary">
                        <tr>
                            <th scope="col">
                                Nombre
                            </th>
                            <th scope="col" class="text-center">
                                Opciones
                            </th>
                        </tr>
                    </thead>
                    <tbody id="table">
                    </tbody>
                </table>
                <div class="row justify-content-end">
                    <button class="btn btn-primary col-2 mx-5" onclick="abrir_modal_creacion_sector(`{% url 'homes:create_sector' %}`);">Crear Sector</button>
                </div>
            </div>
            <div class="modal fade" id="creacion_sector" role="dialog" ></div>
            <div class="modal fade" id="update_sector" role="dialog" ></div>
            <div class="modal fade" id="delete_sector" role="dialog" ></div>
            {% endblock content %}
    </div>
</div>
    
    
    
    {% block scripts %}
    <script language="JavaScript" type="text/javascript" src="{% static 'js/homesSec.js' %}"></script>
    {% endblock scripts %}
    