{% extends 'navbar.html' %}
{% load static %}

{% block title %}Listar Comunidades{% endblock title %}

{% block page_title %}Listar Comunidades{% endblock page_title %}

{% block form_ubicacion %}
<div class="container bg-white rounded mb-4 pb-3">


    <div class="row border-bottom justify-content-around">
        <h1 class="fs-3 mt-3 mx-5">Ubicación</h1>
            <div class="col-8 my-3">
                <label for="parroquia">Parroquia</label>
                {{ form_ubication.parish }}
            </div>
        </div>
        {% endblock form_ubicacion %}
        
        
        {% block content %}
        <div class="row border-bottom justify-content-around">
            <div class="col-8">
                <table class="table table-secondary table-striped mt-3 border rounded">
                    <thead class="table-primary">
                        <tr>
                            <th scope="col">
                                Nombre
                            </th>
                            <th scope="col" class="text-center">
                                Opciones
                            </th>
                        </tr>
                    </thead>
                    <tbody id="table">
                    </tbody>
                </table>
                <div class="row justify-content-end">
                    <button class="btn btn-primary col-2 mx-5" onclick="abrir_modal_creacion_community(`{% url 'homes:create_community' %}`);">Crear Comunidad</button>
                </div>
            </div>
            <div class="modal fade" id="creacion_community" role="dialog" ></div>
            <div class="modal fade" id="update_community" role="dialog" ></div>
            <div class="modal fade" id="delete_community" role="dialog" ></div>
        {% endblock content %}
    </div>
</div>

    
{% block scripts %}
<script language="JavaScript" type="text/javascript" src="{% static 'js/homesCom.js' %}"></script>
{% endblock scripts %}
    