<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Editar Comunidad</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="form_edicion" action="{% url 'homes:update_community' object.pk %}" method="POST">
            {% csrf_token %}
            <div class="modal-body">
                <div id="errores">
                </div>
                {{{{ form.id_parish.label }}
                {{ form.id_parish }}
                {{ form.name_community.label }}
                {{ form.name_community }}}}

            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" data-bs-dismiss="modal">Cancelar</button>
                <button id="boton_creacion" class="btn btn-primary" type="button" onclick="editar();">Confirmar</button>
            </div>
        </form>
      </div>
    </div>
  </div>