{% extends 'homes/list_home.html' %}
{% load static %}

{% block title %}Datos del Cuidado del niño{% endblock title %}

{% block page_title %}Datos del Cuidado del niño{% endblock page_title %}

{% block form_ubicacion %}
{% endblock form_ubicacion %}

    {% block content %}
    <div class="container bg-white rounded mb-4 pb-3">
        <h1 class="fs-3 mt-3 mx-5">Datos del Representante</h1>
        <div class="row border-bottom rounded-bottom">
            <div class="col-5 mb-3 input-group">
                {{ form_home.chief }}
                <button class="btn btn-success input-group-text" type="button" id="search" onclick="buscar(`{% url 'childs:list_chief' %}`);">
                    <i class="fas fa-search fa-2x "></i>
                  </button>
            </div>
    <h1 class="fs-4 mt-3 mx-5">Datos del Niño</h1>
    <form action="" method="post">{% csrf_token %}
        <div class="row justify-content-around">
            <div class="col-5 my-3">
                <div>
                    <label class="my-3">Niño</label>
                    {{ care_dates.familiar }}
                </div>
                <label for="leche_materna" class="form-label my-3">¿Consume Leche Materna?</label>
                {{ care_dates.breastmilk }}
                <label for="tetero" class="form- my-3">¿Usa Tetero?</label>
                {{ care_dates.bottle }}
            </div>
            <div class="col-5 my-3">
                <label for="consumo_leche" class="form-label my-3">Consumo de leche materna al dia</label>
                {{ care_dates.breastmilk_intake }}
                <label class="form-label my-3">Otros Alimentos Solidos</label>
                {{ care_dates.solid_food }}
            </div>
        <div class="row justify-content-around">
            <h1 class="fs-5">El agua para el consumo es:</h1>
            <div class="col-4 my-3">
                <h1 class="fs-6">Hervida:</h1>
                {{ care_dates.boiled_water }}
            </div>
            <div class="col-4 my-3">
                <h1 class="fs-6">Purificada:</h1>
                {{ care_dates.purified_water }}
        </div>
        <div class="col-4 my-3">
            <h1 class="fs-6">Filtrada o Clorada:</h1>
            {{ care_dates.filtred_water }}
        </div>
        </div>
        <div class="row justify-content-around">
        <h1 class="fs-5">Enfermedad la ultima semana:</h1>
        <div class="col-4 my-3">
            <h1 class="fs-6">Gripe o Tos:</h1>
            {{ care_dates.flu_cough}}
        </div>
        <div class="col-4 my-3">
            <h1 class="fs-6">Firbre:</h1>
            {{ care_dates.fever}}
        </div>
        <div class="col-4 my-3">
            <h1 class="fs-6">Diarrea:</h1>
            {{ care_dates.diarrhea}}
        </div>
        </div>
        <div class="row justify-content-around">
        <div class="col-4 my-3">
            <h1 class="fs-6">Vomito:</h1>
            {{ care_dates.vomit}}
        </div>
        <div class="col-4 my-3">
            <h1 class="fs-6">Deshidratado:</h1>
            {{ care_dates.dehydrataded}}
        </div>
        <div class="col-4 my-3">
            <h1 class="fs-6">Paludismo:</h1>
            {{ care_dates.malaria}}
        </div>
        </div>
    <div class="row justify-content-end">
        <button type="submit" class="btn btn-primary m-1 col-1">Enviar</button>
    </div>
</form>
</div>

<div class="modal fade" id="list_person" role="dialog"></div>

{% endblock content %}

{% block scripts %}
    <script src="{% static 'js/childs.js' %}"></script>
{% endblock scripts %}





