<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Creacion de Jefe Familiar(Representante)</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="form_creacion_chief" action="{% url 'childs:create_chief' %}" method="POST">
          {% csrf_token %}
            <div class="modal-body">
              <div id="errores">
              </div>              
              {{ form.chief.label }}
              <div class="invisible" id="no_search">
                <div class="position-absolute start-10">
                  <strong id="msg"></strong>
                  <button class="btn btn-primary " data-bs-target="#creacion_person" onclick="abrir_modal_creacion_person(`{% url 'childs:create_person' %}`);" >Agregar Persona</button>
                </div>
              </div>
              <div class="input-group col-5 border-bottom mb-3">
                {{ form.chief }}
                <button class="btn btn-success input-group-text" type="button" id="search" onclick="buscar(`{% url 'childs:list_person' %}`);">
                  <i class="fas fa-search fa-2x "></i>
                </button>
              </div>
              {{ form.phone_number.label }}
              {{ form.phone_number }}
              {{ form.property.label }}
              {{ form.property }}
              {{ form.home.label }}
              {{ form.home }}
            </div>
            <div class="modal-footer">
              <button class="btn btn-danger" type="button" data-bs-dismiss="modal">Cancelar</button>
              <button id="boton_creacion" class="btn btn-primary" type="button" onclick="registrar_chief();">Confirmar</button>
            </div>
        </form>
      </div>
    </div>
  </div>
    <script>
      home();
  </script>