{% extends 'homes/list_home.html' %}
{% load static %}

{% block title %}Datos del Representante{% endblock title %}

{% block page_title %}Datos del Representante{% endblock page_title %}

{% block form_ubicacion %}
<div class="container bg-white rounded mb-4 pb-3">
    <div class="invisible" id="alert">
        <div class="alert alert-success position-absolute col-6 justify-content-between d-flex" role="alert">
            <i class="fas fa-check-circle fa-2x alert-link"></i>
            <p id="msg_alert"></p>
            <button type="button" class="btn btn-success col-1 " data-bs-dismiss="alert" aria-label="Close">Ok</button>
        </div>
    </div>
    <div class="row border-bottom justify-content-around">
        <h1 class="fs-3 mt-3 mx-5">Ubicación</h1>
        <div class="row mb-3">
            <div class="col-5 my-3">
                <label for="parroquia">Parroquia</label>
                {{ form_ubication.parish }}
            </div>
            <div class="col-5 my-3">
                <label for="comunidad">Comunidad</label>
                {{ form_ubication.community }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-5 my-3">
                {{ form_ubication.sector.label }}
                {{ form_ubication.sector }}
            </div>
        </div>

        {% block barra_busqueda %}
        {% endblock barra_busqueda %}
    </div>
    {% endblock form_ubicacion %}

    {% block content %}
    <h1 class="fs-3 mt-3 mx-5">Datos del Representante</h1>
    <div class="row border-bottom rounded-bottom">
        <div class="col-5 mb-3">
            <label for="home">Vivienda</label>
            {{ form_home.home }}
        </div>
        <div class="col-5">
            <label for="vivienda">Representante</label>
            <div class="mb-3 input-group">
                {{ form_home.chief }}
                <button class="btn btn-primary input-group-text" id="menu-btn" type="button" onclick="abrir_modal_creacion_chief(`{% url 'childs:create_chief' %}`);">
                    <span class="btn-label">
                        <i class="fas fa-search fa-2x "></i>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-end">
        <div class="col-2">
            <a href="{% url 'childs:initial_diagnostic' %}">
                <button class="btn btn-primary btn-lg">Siguiente</button>
            </a>
        </div>
    </div>

<div class="modal fade" id="creacion_chief" role="dialog"></div>

<div class="modal fade" id="list_person" role="dialog"></div>
    
<div class="modal fade" id="creacion_person" role="dialog"></div>

{% endblock content %}




{% block scripts %}
    <script src="{% static 'js/childs.js' %}"></script>
{% endblock scripts %}