<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Creacion de Grupo Familiar(Niño)</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="form_creacion_familiar" action="{% url 'childs:create_familiar' %}" method="POST">
            {% csrf_token %}
            <div class="modal-body">
                <div id="errores">
                </div>
                {{ form.familiar.label }}
                {{ form.familiar }}
                {{ form.chief.label }}
                {{ form.chief }}
                {{ form.relationship.label }}
                {{ form.relationship }}
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" data-bs-dismiss="modal">Cancelar</button>
                <button id="boton_creacion" class="btn btn-primary" type="button" onclick="registrar_familiar();">Confirmar</button>
            </div>
        </form>
      </div>
    </div>
  </div>
  <script>
    chief();
  </script>