{% extends 'navbar.html' %}
{% load static %}

{% block title %}Datos de la Embarazada{% endblock title %}

{% block page_title %}Datos de la Embarazada{% endblock page_title %}

{% block form_ubicacion %}
<div class="container bg-white rounded mb-4 pb-3">
    <div class="invisible" id="alert">
        <div class="alert alert-success position-absolute col-6 justify-content-between d-flex" role="alert">
            <i class="fas fa-check-circle fa-2x alert-link"></i>
            <p id="msg_alert"></p>
            <button type="button" class="btn btn-success col-1 " data-bs-dismiss="alert" aria-label="Close">Ok</button>
        </div>
    </div>
    <div class="row border-bottom justify-content-around">
        <h1 class="fs-3 mt-3 mx-5">Ubicación</h1>
        <div class="row mb-3">
            <div class="col-5 my-3">
                <label for="parroquia">Parroquia</label>
                {{ form_ubication.parish }}
            </div>
            <div class="col-5 my-3">
                <label for="comunidad">Comunidad</label>
                {{ form_ubication.community }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-5 my-3">
                {{ form_ubication.sector.label }}
                {{ form_ubication.sector }}
            </div>
        </div>

        {% block barra_busqueda %}
        {% endblock barra_busqueda %}
    </div>
    {% endblock form_ubicacion %}
{% block content %}
<div class="container bg-white rounded mb-4 pb-3">
    <h1 class="fs-4 mt-3 mx-5">Datos de la Embarazada</h1>
    <div class="row border-bottom rounded-bottom">
        <div class="col-5 mb-3">
            <label for="home">Vivienda</label>
            {{ form_home.home }}
        </div>
        <div class="col-5 mb-3">
            <form action="" method="post">{% csrf_token %}
            <label for="vivienda">Embarazada</label>
            {{ weighing_form.familiar }}
            <button class="px-2 py-1 btn btn-primary mt-4" id="menu-btn" type="button" onclick="abrir_modal_creacion_chief(`{% url 'childs:create_chief' %}`);">
                <span class="btn-label">
                    Agregar Embarazada
                </span>
            </button>
        </div>
    </div>
        <div class="row">
            <div class="col-6 my-3">
                <div class="form-floating my-3">
                    {{ weighing_form.height }}
                    <label for="id_height" class="form-label">Talla</label>
                </div>
                <div class="form-floating my-3">
                    {{ weighing_form.c_arm }}
                    <label for="id_c_arm" class="form-label">Circunferencia del brazo</label>
                </div>
                <div class="form-floating my-3">
                    {{ weighing_form.gestation }}
                    <label for="id_gestation" class="form-label">Semana de Gestacion</label>
                </div>
            </div>
            <div class="col-5 my-3">
                <label class="mt-3">Vivero</label>
                {{ weighing_form.nursery }}
                <div class="form-floating my-3">
                    <div class="form-floating my-3">
                        {{ weighing_form.weight }}
                        <label for="id_weight" class="form-label">Peso</label>
                    </div>
                </div>
                <div class="form-floating my-3">
                    {{ weighing_form.z_score }}
                    <label for="id_z_score" class="form-label">Z Score</label>
                </div>
                <div class="invisible">
                    {{ weighing_form.accepted }}
                </div>
            </div>
        </div>
        <div class="row justify-content-around">
            <button type="submit" class="btn btn-primary m-1 col-1">Enviar</button>
    </div>
</form>
</div>


<div class="modal fade" id="creacion_person" role="dialog"></div>

<div class="modal fade" id="creacion_chief" role="dialog"></div>

{% endblock content %}



{% block scripts %}
<script src="{% static 'js/childs.js' %}"></script>
{% endblock scripts %}