{% extends 'navbar.html' %}
{% load static %}

{% block title %}Datos Basicos del Niño{% endblock title %}

{% block page_title %}Datos Basicos del Niño{% endblock page_title %}

{% block content %}
<div class="container bg-white rounded mb-4 pb-3">
    <h1 class="fs-3 mt-3 mx-5">Datos del Representante</h1>
    <div class="row border-bottom rounded-bottom">
        </div>
        <label for="vivienda">Representante</label>
            <div class="col-5 mb-3 input-group">
                {{ form_home.chief }}
                <button class="btn btn-success input-group-text" type="button" id="search" onclick="buscar(`{% url 'childs:list_person' %}`);">
                    <i class="fas fa-search fa-2x "></i>
                  </button>
            </div>
    <h1 class="fs-4 mt-3 mx-5">Datos del Niño</h1>
    <form action="" method="post">{% csrf_token %}
        <div class="row">
            <label class="mt-3">Niño</label>
            <div class="col-6">
                <div class="input-group">
                    {{ weighing_form.familiar }}
                    <button class="btn btn-primary input-group-text" id="menu-btn" type="button" onclick="abrir_modal_creacion_person(`{% url 'childs:create_person_familiar' %}`);">
                        <i class="fas fa-search fa-2x "></i>
                    </button>
                </div>
                <div class="form-floating my-3">
                    {{ weighing_form.height }}
                    <label for="id_height" class="form-label">Talla</label>
                </div>
                <div class="form-floating my-3">
                    {{ weighing_form.c_arm }}
                    <label for="id_c_arm" class="form-label">Circunferencia del brazo</label>
                </div>
                <div class="invisible">
                    {{ weighing_form.accepted }}
                </div>
            </div>
            <div class="col-5">
                <label class="">Vivero</label>
                    {{ weighing_form.nursery }}
                    <div class="form-floating my-3">
                    <div class="form-floating my-3">
                        {{ weighing_form.weight }}
                        <label for="id_weight" class="form-label">Peso</label>
                    </div>
                </div>
                <div class="form-floating my-3">
                    {{ weighing_form.z_score }}
                    <label for="id_z_score" class="form-label">Z Score</label>
                </div>
            </div>
        </div>
        <div class="row justify-content-around">
            <button type="submit" class="btn btn-primary m-1 col-1">Enviar</button>
    </div>
</form>
</div>


<div class="modal fade" id="creacion_person" role="dialog"></div>

<div class="modal fade" id="list_person" role="dialog"></div>

<div class="modal fade" id="creacion_familiar" role="dialog"></div>

{% endblock content %}



{% block scripts %}
<script src="{% static 'js/childs.js' %}"></script>
{% endblock scripts %}