{% extends 'homes/list_home.html' %}
{% load static %}

{% block title %}Listar niños{% endblock title %}

{% block page_title %}Listar niños{% endblock page_title %}

{% block form_ubicacion %}
<div class="container bg-white rounded mb-4 pb-3">
    <div class="row border-bottom justify-content-around">
        <h1 class="fs-3 mt-3 mx-5">Ubicación</h1>
        <div class="row mb-3">
            <div class="col-5 my-3">
                <label for="parroquia">Parroquia</label>
                {{ form_ubication.parish }}
            </div>
            <div class="col-5 my-3">
                <label for="comunidad">Comunidad</label>
                {{ form_ubication.community }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-5 my-3">
                {{ form_ubication.sector.label }}
                {{ form_ubication.sector }}
            </div>
        </div>
        
        {% block barra_busqueda %}
        {% endblock barra_busqueda %}
    </div>
    {% endblock form_ubicacion %}

{% block content %}
    
<table class="table table-secondary table-striped mt-3 border rounded">
    <thead class="table-primary">
        <tr>
            <th scope="col">
                Representante
            </th>
            <th scope="col">
                Nombre
            </th>
            <th scope="col">
                Apellido
            </th>
            <th scope="col">
                Parentezco
            </th>
            <th scope="col" class="text-center">
                Opciones
            </th>
        </tr>
    </thead>
    <tbody id="table">
    </tbody>
</table>

{% endblock content %}

{% block scripts %}
    <script src="{% static 'js/list_child.js' %}"></script>
{% endblock scripts %}