<div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Buscar Persona</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          {% csrf_token %}
            <div class="modal-body">
              <div id="errores">
              </div>             
              <div class="col-5 mb-3 input-group ">
                <input type="text" class="form-control" autocomplete="off" placeholder="Ingrese una cedula" id="searching"  onkeyup="buscar_dinamica();">
                <button class="btn btn-success input-group-text" type="button" id="search" disabled>
                    <i class="fas fa-search fa-2x "></i>
                </button>
            </div> 
              <table class="table table-secondary table-striped mt-3 border rounded" id="list_person">
                <thead class="table-primary">
                    <tr>
                        <th scope="col">
                            Cedula
                        </th>
                        <th scope="col">
                            Nombre
                        </th>
                        <th scope="col">
                            Apellido
                        </th>
                        <th scope="col">
                            Seleccionar
                        </th>
                    </tr>
                </thead>
                <tbody id="table">
                    {% for person in object_list %}
                    <tr>
                        <td scope="col" id="id_person">{{person.chief.id_person}}</td>
                        <td scope="col">{{ person.chief.name_person}}</td>
                        <td scope="col">{{person.chief.last_name_person}}</td>
                        <td scope="col"><button class="btn btn-primary" onclick="seleccion_person('{{ person.chief.id_person }}');">Seleccionar</button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="invisible" id="button_create">
              <p>No se Encontro la persona desea agregarlo?</p>
              <button class="btn btn-primary" onclick="abrir_modal_creacion_person(`{% url 'childs:create_person' %}`)";>Crear Persona</button>
            </div>
              <div class="modal-footer">
              <button class="btn btn-danger" type="button" data-bs-dismiss="modal">Cancelar</button>
              <button id="boton_creacion" class="btn btn-primary" type="button" onclick="registrar_chief();">Confirmar</button>
            </div>
      </div>
    </div>
  </div>
